.nav_container{
    max-width: 500px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 9999;
}
.nav_logo{
    width: 20%;
    img{
        width: 100%;
    }
}
.nav_back{
    width: 80px;
    height: 32px;
    color: #f7c695;
    border-radius: 30px;
    border: 1px solid #f7c695;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    a{
        color: #f7c695;
    }
    .nav_backLine{
        width: 1px;
        height: 100%;
        background: #f7c695;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.nav_title{
    width: 30%;
    height: 100%;
    line-height: 50px;
    color: #f7c695;
    text-align: center;
}
.nav_button{
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f7c695;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
}